.back-to-top{
    position: fixed;
    width: 50px;
    height: 50px;
    left: 10px;
    bottom: 10px;
    background: #e8e8e8;
    color: #000;
    border-radius: 50%;
    box-shadow: 0 0 .25em .25em rgba(255,255,255,.3);
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 2rem;
    outline: none;
    .fas{
        display: inline;
        font-size: 2rem;
        padding-bottom: 5px;
        padding-left: 2px;
    }
}