.banner-container{
    display: flex;
    justify-content: center;
    margin-top: 170px;
}
.fadding-content{
  width:700px;  
  display: grid;
  grid-template-rows:350px ;
  grid-template-columns:700px ;

}
.recommendation{
    grid-row: 1/2;
   grid-column: 1/2;
   object-fit: scale-down;
   float: right;
   width: 100%;
   height: 100%;
   transition: opacity .6s ease-in;
   &.show{
    opacity: 1;
   }
   &.hide{
       opacity: 0;
   }
}
@media(min-width:$break-point-desktop){
 
    .recommendation{
        object-fit: fill;
    }
}
.form-container{
    transition: all .5s linear;
    position: fixed;
    top: 50px;
    height: 80vh;
    width: 70vw;
    background: #1c71a8;
    // background-repeat: no-repeat;
    // background-size: contain;
    // background-image: url('../images/buisness-banner/form-bg.jpg');
    &.close{
        display: none;
    }
    .exit-button{
        float: left;
        display: flex;
        justify-content: center;
        align-items: center;
        margin: 5px 0px 0px 10px;
        height: 40px;
        width: 40px;
    }
    .exit-line-1{
        position: absolute;
        height: 30px;
        width: 3px;
        background: black;
        rotate: 45deg;
    }
    .exit-line-2{
        position: absolute;
        height: 30px;
        width: 3px;
        background: black;
        rotate: -45deg;
    }
    .title{
        color: #f37520;
        font-size: 4rem;
        line-height: 1rem;
    }
    .subtitle{
        color: white;

    }
    .buisness-contact-form{
    display: flex;
    flex-flow: column;
    justify-content: space-between;
    height: 60%;
    margin-top: 20px;
    padding:0px 20px;
    input{
        height: 20%;
           }
    button{
        @include remove-button-defaults;
        background:#f37520;
        font-size: 2rem;
        height: 20%;
        .far{
            font-size: 2rem;
            margin-right: 10px;
        }
    }
    }
}
.open-contact{
    @include remove-button-defaults;
    background: whitesmoke;
    border:2px solid #f5722196  ;
    height:70px;
    width: 250px;
    margin-top: 300px;
    position: absolute;
    color: #f57421;
}
@media(min-width:$break-point-desktop){
    .open-contact{
        display: none;
    }
    .form-container{
        position: relative;
        top: 0px;
        height: 350px;
        width: 380px;
        flex-shrink: 0;
        background: #1c71a8;
         background-repeat: no-repeat;
         background-size: contain;
         background-image: url('../images/buisness-banner/form-bg.jpg');
        &.close{
            display: unset;
        }
        .exit-button{
           display: none;
        }
       
        .contact-hader{
            display: none;
        }
        .buisness-contact-form{
           margin-top: 90px;
           justify-content: center;
           padding-top: 40px;
        input{
            margin-right: 33px;
            margin-bottom: 15px;
           height: 33px;
           width: 274px;
           background: rgb(27, 76, 116) ;
           border: none;
           &:empty{
               background-color: none;
           }
           &:focus{
               outline: none;
           }
           &::placeholder{
           color: rgb(255, 254, 238)  ;
           font-family: Verdana, Geneva, Tahoma, sans-serif;
            font-size: 18px;
        }
               }
        button{
            display: none;
            .far{
                
            }
        }
        }
    }
    .open-contact{
        
    } 

}
