.register-buttons-container{
display: flex;
flex-flow: column;
width: 80%;
margin: 10px auto;

}
.search-work-register-button{
    background: $dark-orange;
    margin: 20px 0px;
    width: 100%;
    height: 4rem;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    font-size: 2.5rem;
}
.company-register-button{
    background: $dark-gray;
    margin: 20px 0px;
    width: 100%;
    height: 4rem;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    font-size: 2.5rem;
}
@media(min-width:$break-point-desktop){
    .register-buttons-container{
       flex-flow: row;
       height: 170%;
       align-items: center;
       justify-content: center;
        margin: 50px auto;
        }
        .search-work-register-button{
         height: 100%;
         margin: 0px 10px;
        }
        .company-register-button{
            height: 100%;
        }

}