.login-bar-container{
    width: 100%;
    position: absolute;
    z-index: 1100;
    height: 150px;
    height: 290px;
    display: flex;
    justify-content: center;
    align-items: center;
    background: $dark-blue;
    max-height: 0px;
    overflow: hidden;
    transition:max-height .3s linear ;
}
.login-bar-container.open{
    max-height: 300px;
}
#login-form{
    display: flex;
    flex-flow: column;
    justify-content: center;
    align-items: center;
    
    height: 100%;
    width: 90%;
    margin-top: 40px;
    input{
        flex-shrink: 0;
       
        height: 50px;
    
        margin: 5px 0px;
        width: 100%;
        padding-right: 5px;
        
    }
    input[type='submit']{
        @include remove-button-defaults;
        background: $orange;
        text-align: center;
   
        height: 50px;
        width: 200px;
     
        margin: 5px 0px;
        color: white;
       align-self: flex-end;
    
        
        
    }
    .forgot-password-text{
        position: relative;
        color: white;
        align-self: start;
     
        bottom: 35px;
        right: 5px;
    }
}
.exit-button-container{
    .fas{
        position: relative;
        color: white;
        left: 20px;
        bottom: 50px;
        font-size: 2rem;
    }
}
.bad-login-error{
    position: absolute;
    bottom: 40px;
    right: 45px;
}
@media(min-width:$break-point-desktop){
   
    #login-form{
        height: 50px;
       flex-flow: row;
       margin-top: 10px;
        input{
          
            height: 100%;
          width: unset;
            margin: 0px 5px;
            
            
        }
    input[type='submit']{
      
        height: 100%;
        width: 180px;
       
        margin: 0px 5px;
        align-self: unset;
    
        
        
    }
    .forgot-password-text{
        align-self: unset;
        bottom: unset;
        right: unset;
        top: 40px;
        left: 80px;
       
    }
}
    .login-bar-container{
      
        height: 150px;
        
    }
   .bad-login-error{
       bottom: 22px;
       right: 210px;
   }
}

