.navigation-bar{
    background: linear-gradient(to right, rgba(0,0,0,0.13) 0%, rgba(0,0,0,0.4) 100%);
    position: absolute;
 
    top: 0px;
    width:100%;
    height: 3rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
    transition: top .3s linear;
    z-index: 1;
    overflow: hidden;
    .background-triangle.mobile-only{
        opacity: 0;
        z-index: 0;
        z-index: -1;
        position: absolute;
       
    }
}
.float-top.mobile-only{
    position: fixed;
    top: 0px;}
.navigation-bar.float-top.mobile-only{
    
    background: url('../images/bgphoto1_mobile.jpg');
    background-repeat: no-repeat;
    background-position: top right;
    background-size: cover;
 
 .darken-skin{
     position: absolute;
     height: 100%;
     width: 100%;
     z-index: 0;
    background: linear-gradient(to right, rgba(0,0,0,0.13) 0%, rgba(0,0,0,0.4) 100%);
 }   
 .background-triangle.mobile-only{
        position: absolute;
       left: 0px;
       border-width: 29vw;
        opacity: 0.75;
        z-index: 0;
    }
}
.logo-image{
width: 86px;
height: 34px;
}
.logo-text{
    display: none;
}
.navigation-content{
    color:white;
    display: flex;
    height: 100%;
    width: 100%;
    z-index: 97;
    margin: 0px;
}
.navigation-links-container{
    display: flex;
    list-style: none;
    justify-content: space-evenly;
    margin:auto  75px;
    padding: 0px;
    width: 7.5rem;
    height: 1.5rem;
}
.splitter{
    width: 2px;
    height: .75rem;
    margin: auto 0px;
    background: white;
}
.nav-item{
    margin: auto 0px;
    font-size: .9rem;
    color: white;
}

.total-jobs{
    display: none;
}
.big-splitter.splitter{
    background: #fb8e0f;
    height:2.5rem;
    width: .18rem;
    margin-left: 10px;;
}
.total-jobs-number{
          
    font-family: 'Roboto',sans-serif;
    font-size: 3.1rem;
    font-weight: 100;
}
.logo-container{
    display: flex;
    flex-flow: row-reverse;
   
   padding-left: 10px;
    height: 100%;
    justify-content: center;
    align-items: center;
    .logo-image{
        position: relative;  
        float: left;
        margin-left: 10px;
    }
}

@media(min-width:$break-point-desktop){
   
    .navigation-bar{
       position: absolute;
      height: 4.6rem; 
      &.float-top.mobile-only{
        position: absolute;
    }
    }
    
    .navigation-links-container{
        margin: 15px 5rem 15px 20px ;
        align-self: flex-start;
    }
    .total-jobs{
        display: flex;
        margin: auto 20px;
        align-items: flex-end;
        justify-content: center;
        
    }
    .total-jobs-subtitle{
        font-size: .9rem;
    }
 
    .logo-container{
        display: flex;
        flex-flow: column;
        align-items: center;
        margin-top: auto;
        margin-bottom: auto;
        margin-left: 50px;
        
        .logo-image{
            height: 55px;
            width:141px ;
            margin-left: 0px;
            right: 0px;
            top: 0px;
          }
    }
   
    .logo-text{
        display: inline;
        font-size: .75rem;
        color: white;
    }
    .navigation-content{
        
    }
    
}
