.navigation-bar{
    background: linear-gradient(to right, rgba(0,0,0,0.13) 0%, rgba(0,0,0,0.4) 100%);
    position: absolute;
    width:100%;
    height: 3rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
    z-index: 1;
}
.logo-image{
background-image: url();
width: 86px;
height: 34px;
display: block;
margin-left: 20px;
background-size: contain;
background-repeat: no-repeat;

}
.logo-text{
    display: none;
}
.navigation-content{
    color:white;
    display: flex;
    height: 100%;
    
    margin: 0px;
}
.navigation-links-container{
    display: flex;
    list-style: none;
    justify-content: space-evenly;
    margin:auto  15px;
    padding: 0px;
    width: 7.5rem;
    height: 1.5rem;
}
.splitter{
    width: 2px;
    height: .75rem;
    margin: auto 0px;
    background: white;
}
.nav-item{
    margin: auto 0px;
    font-size: .9rem;
}
.menu-btn{
  
    width: 3.7rem;
    display: flex;
    flex-flow: column;
    justify-content: center;
 
    background-color: #252e69;
    .lines-container{
        height: 35%;
        display: flex;
        flex-flow: column;
        justify-content: space-between;
        align-items: center;
    }
    .menu-btn__line{
        width: 40%;
        height: 14%;
        background-color: white;
        flex-shrink: 0;
        flex-grow: 0;
        z-index: 5;
        transition: all 0.5s linear;
        transform-origin:  center left ;
    }
}
.menu-btn.open{ 
    #top-line{
        rotate: 40deg;
    }
    #middle-line{
        opacity: 0;
    }
    #buttom-line{
        rotate: -40deg;
    }
}
.total-jobs{
    display: none;
}
.big-splitter.splitter{
    background: #fb8e0f;
    height:2.5rem;
    width: .18rem;
    margin-left: 10px;;
}
.total-jobs-number{
          
    font-family: 'Roboto',sans-serif;
    font-size: 3.1rem;
    font-weight: 100;
}
@media(min-width:$break-point-desktop){
    .navigation-bar{
       
      height: 4.6rem;  
    }
    .menu-btn{
        position: -webkit-sticky;
        position: sticky;
       top:0;
       right: 0;
        width:5.2rem;
        z-index: 15;
        .menu-btn__line{
            height: 9%;
        }
    }
    .navigation-links-container{
        margin: 15px 5px 15px 20px ;
        align-self: flex-start;
    }
    .total-jobs{
        display: flex;
        margin: auto 20px;
        align-items: flex-end;
        justify-content: center;
        
    }
    .total-jobs-subtitle{
        font-size: .9rem;
    }
 
    .logo-container{
        display: flex;
        flex-flow: column;
        align-items: center;
        margin-top: auto;
        margin-bottom: auto;
        margin-left: 50px;
    }
    .logo-image{
      height: 55px;
      width:141px ;
      margin-left: 0px;
    }
    .logo-text{
        display: inline;
        font-size: .75rem;
        color: white;
    }
    
}
