.navigation-bar{
    background: linear-gradient(to right, rgba(0,0,0,0.13) 0%, rgba(0,0,0,0.4) 100%);
    position: absolute;
 
    top: 0px;
    width:100%;
    height: 3rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
    transition: top .3s linear;
    z-index: 1;   
    .background-triangle.mobile-only{
        z-index: 0;
        z-index: -1;
        position: relative;
       
    }
}
.navigation-bar:not(.float-top)>.triangle-container{
        overflow: visible; 
      
}
.float-top.mobile-only{
    position: fixed;
    top: 0px;}
.navigation-bar.float-top.mobile-only{
    
    background: url('../images/bgphoto1_mobile.jpg');
    background-repeat: no-repeat;
    background-position: top right;
    background-size: cover;
 
 .darken-skin{
     position: absolute;
     height: 100%;
     width: 100%;
     z-index: 0;
    background: linear-gradient(to right, rgba(0,0,0,0.13) 0%, rgba(0,0,0,0.4) 100%);
 } 
 
 .background-triangle.mobile-only{
        position: relative;
       left: 0px;
       border-width: 29vw;
        opacity: 0.75;
        z-index: 0;
    }
}
.triangle-container{
    position: absolute;
    left: 0px;
    height: 54px;
    overflow: hidden;
} 
.logo-image{
width: 86px;
height: 34px;
}
.logo-text{
    display: none;
}
.navigation-content{
    color:white;
    display: flex;
    height: 100%;
    width: 70%;
    z-index: 97;
    margin: 0px;
}
.navigation-links-container{
    display: flex;
    list-style: none;
    justify-content: space-evenly;
    margin:auto  75px;
    padding: 0px;
    width: 7.5rem;
    height: 1.5rem;

    &.hide{
        width: 50px;
    }
}
.splitter{
    width: 2px;
    height: .75rem;
    margin: auto 0px;
    background: white;
}
.nav-item{
    margin: auto 0px;
    font-size: .9rem;
    color: white;
}

.total-jobs{
    display: none;
}
.big-splitter.splitter{
    background: #fb8e0f;
    height:2.5rem;
    width: .18rem;
    margin-left: 10px;;
}
.total-jobs-number{
          
    font-family: 'Roboto',sans-serif;
    font-size: 3.1rem;
    font-weight: 100;
}
.logo-container{
    display: flex;
    flex-flow: row-reverse;
   
   padding-left: 10px;
    height: 100%;
    justify-content: center;
    align-items: center;
    .logo-image{
        position: relative;  
        float: left;
        margin-left: 10px;
    }
}

@media(min-width:$break-point-desktop){
   
    .navigation-bar{
       position: absolute;
      height: 4.6rem; 
      &.float-top.mobile-only{
        position: absolute;
    }
    }
    
    .navigation-links-container{
        margin: 15px 5rem 15px 20px ;
        align-self: flex-start;
    }
    .total-jobs{
        display: flex;
        margin: auto 20px;
        align-items: flex-end;
        justify-content: center;
        
    }
    .total-jobs-subtitle{
        font-size: .9rem;
    }
 
    .logo-container{
        display: flex;
        flex-flow: column;
        align-items: center;
        margin-top: auto;
        margin-bottom: auto;
        margin-left: 50px;
        
        .logo-image{
            height: 55px;
            width:141px ;
            margin-left: 0px;
            right: 0px;
            top: 0px;
          }
    }
   
    .logo-text{
        display: inline;
        font-size: .75rem;
        color: white;
    }
    .navigation-content{
        
    }
    
}
.user-detail-container{
    z-index: 100;
    height: 100%;
    .name-title{
        height: 100%;
        margin: auto 0px;
        display: flex;
        justify-content: center;
        align-items: center;
        position: relative;
        width: 110px;
        padding-right: 10px;
        right: 30px;
        margin-right: 10px;
        &:hover{
            color: $orange;
            cursor: pointer;
        }
        .fas{
            margin-top: 5px;
            margin-right: 10px;
            font-size: .9rem;
        }
        &.open{
            background: darken($color:white, $amount: 40);
        }
    }
}
.user-menu-container{
   width: fit-content;
    max-height: 0px;
    overflow: hidden;
    list-style: none;
    background: white;
    margin-top: 0px;
    padding: 0px;
    position: relative;
    right: 60px;
    a,
    li{
        display: flex;
        
        align-items: center;
       width: 170px;
        height: 60px;
        border-bottom: 1px solid #d8d7d5;
        padding: 7px;
        margin: 0px 5px;
        color: $dark-blue;
        &:hover{
            cursor: pointer;
            color: $orange;
        }
       
    }
    
}
.user-menu-container.open{
    
    max-height: 200px;
}
.background-triangle{
    float: left;
    direction: ltr;
    border: 12vw solid ;
    opacity: 0.8;
    border-color: #fb8e0f;
    border-bottom-color: transparent;
    border-right-color: transparent;
    z-index: -1;
    width: 10px;
    height: 10px;
}
@media(min-width:$break-point-desktop){
    .user-detail-container{
        position: absolute;
        right: 700px;
     
    } 
}