.modal-bg{
    position: fixed;
    top: 0px;
    right: 0px;
    background: rgba(0,0,0,.5);
    width: 100vw;
    height: 100vh;
    z-index: 1000;
    display: none;
    justify-content: center;
    align-items: center;
}
.modal-bg.show{
    display: flex;
}
.modal-icon{
    font-size: 5rem;

    &.fa-check-circle{
        color: green;
    }
    &.fa-times-circle{
        color: red;
    }
}
.modal-content{
    width: 45%;
    height: 35%;
    
    background: white;
   display: flex;
   flex-flow: column;
   justify-content: space-evenly;
    align-items: center;
    flex-wrap: wrap;
    .fa-times{
       margin-top: -30px;
       align-self: end;
       margin-left: 12px;
       font-size: 1.5rem;
       
    }
}
.modal-text{
    font-size: 1.5rem;
    text-align: center;
}
@media(min-width:$break-point-desktop){
    .modal-content{
        max-width: 550px;
        .fa-times{
            margin-top: -50px;}
    }
  
}
