@media(min-width:$break-point-desktop){
    .result-list-container{
        margin-top: 70px;
    width: 714px;
   
    }
    .result-list-title-row{
        display: flex !important;
        background: $dark-blue;
        padding:10px 15px;
        align-items: center;
        .list-title-name{
            margin-right: 30px;
        }
        .list-title-code{
            margin-right: 260px;
        }
        .list-title-location{
            margin-right: 57px;
        }
        .result-title-item{
            color: white;
            font-size: .9rem;
            font-weight: 700;
           
        }
      
    }
    .sort-results-icon{
        color: $dark-gray !important;
        font-size: .9rem;
        margin-right: 5px;
    }
}
.pages-buttons-container{
    flex-shrink: 0;
    display: flex;
    flex-flow: row-reverse;
    align-items: center;
}
.list-navigator-container{
    
    position: relative;
    flex-shrink: 0;
    display: flex;
   
    flex-flow:column;
    align-items: center;
  
    justify-content: space-between;
    flex-wrap: wrap;
    height: 50px;
    width: 100%;
    button{
    @include remove-button-defaults;
     margin: 0px 2px;
     font-size: .9rem;
    background: white;
    
     &:hover{
         outline: none;
         text-decoration: underline;
        }
        &.pressed,
         &:focus{
            outline: none;
            border: none;
            box-shadow: none;
            &:not(.none-focus){
            text-decoration: underline;}
        
       }
     
    } 
}
.next-button::before{
content: '<<';
margin-left: 5px;
}
.previous-button::after{
    content: '>>';
    margin-right: 5px;
    }
    @media(min-width:$break-point-desktop){
        .list-navigator-container{
            
            flex-flow: row-reverse;
            justify-content: center;
            button{
                 margin: 0px 5px;
                }
        }

    }