.new-search-form-toggle{
    width: 100%;
    font-size: 1.3rem;
    font-weight: 400;
    background: $dark-cream;
}
.search-form-container{
max-height: 0px;
overflow: hidden;
display: flex;
transition: max-height .3s linear;
height: 275px;
 width: 100%;
padding: 0px 25px;
.search-form{
    width: 100%;
    #search-word-input{
        @include remove-input-defaults;
        width: 100%;
        height: 44px;
    }
}
.input-label{
    display: flex;
    color:#555;
    font-size: 1.5rem;
}
}
.search-form-container.open{
   max-height: 275px;
}
@media(min-width:$break-point-desktop){
    #search-page{
        display: flex;
        flex-flow: column;
        align-items: center;
        width: 100%;
        height: unset;
        background: white;
    }
      
    .new-search-form-toggle{
        display: none;
    }
    .search-form-container{
        background: $dark-cream;
        max-height: 350px;
        height: 171px;
        width: 720px;
      
    .search-form{
        flex-wrap: wrap;
        display: flex;
        margin-top: 20px;
       
        #search-word-input{
            width: 40%;
            height: 20%;
        }
    }
}
}
.checkbox-container{
    margin-top: 10px;
    display: flex;
    align-items: center;
 
    label{
        margin-right: 10px;
    }
}

.cheackbox{
    position: absolute;
  opacity: 0;
  cursor: pointer;
  height: 0;
  width: 0;
  &:checked+.checkmark{
    border: 1px solid $orange;
    &::after{
      display: block !important;
  }
}
}
.checkmark {
    display: inline-block;
    position: relative;
    top: 0;
    left: 0;
    height: 20px;
    width: 20px;
    background-color: white;
    border: 1px solid $light-gray;
    border-radius: 30%;
    margin-left: 10px;
    flex-shrink: 0;
    &:after{
        content:'';
        position: absolute;
        display: none;
        left: 10px;
        top: -8px;
        width: 9px;
        height: 18px;
        border:1px solid $orange;
        border-width: 0 3px 3px 0;
        -webkit-transform: rotate(45deg);
        -ms-transform: rotate(45deg);
        transform: rotate(45deg);
    }
}
.checkbox-text{
    display: flex;
    align-items: center;
    font-size: .9rem;
    &:active{
        text-decoration: underline;
    }
}
@media(min-width:$break-point-desktop){
    .checkbox-container{ 
        align-self: flex-end;
       margin:0px 8px 15px 50px;
    }
    h2.form-subtitle{
        font-size: .95rem;
        font-weight: lighter;
        color: $dark-gray;
     }
     .radio-btn-container>Label{
         font-weight: 400;
         font-size: .9rem;
     }
     .checkbox-text{
         font-size: .85rem;
     }
     .checkmark {
         height: 15px;
         width: 15px;
     }
     .search-form>.input-label{
         font-size: 1.2rem;
         margin: 0px 5px 0px 10px;
     }
}
.radio-btn-group{
    display: flex;
    flex-flow: column;
   input[type="radio"]{
       position: absolute;
       opacity: 0;
   }
}
.radio-btn-container{
    margin: 0px 10px;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    .radiomark{
        margin-left: 10px;
        display: block;
        width: 16px;
        height: 16px;
        background: white;
        display: flex;
        align-items: center;
        justify-content: center;
        border-radius: 50%;
        background: white;
        border: .5px solid $light-gray;
    }
    .radiomark::after{
        content: '';
        position: relative;
        width: 8px;
        height: 8px;
        border-radius: 100%;
        background: $orange;
        display: none;
    }
    input[type="radio"]:checked+.radiomark{
        border: 1px solid $orange;
        &::after
        {
        display: inline;
        }
    }
 
}
.new-search-open-form-toggle{
    display: flex;
    justify-content: space-between;
    &>.fas.fa-angle-down{
        display: inline;
        margin-left: 10px;
        font-size: 1.5rem;
        transition: rotate .3s linear;
        &.point-left{
            rotate: 90deg;
        }
}
}
.submit-search-btn{
    margin: 0px;
    margin-bottom:10px;
    
    width: 200px;
    height: 50px;
    font-size: 1.25rem;
    font-weight: 100;
    margin-right: auto;
    align-self: flex-end;
    .fas.fa-search{
        font-size: 1.5rem;
        margin-left: 12px;
        margin-top:2px;
        
    }
}
@media(min-width:$break-point-desktop){
    .input-button-container{
        margin-top: 50px;
        margin-right: auto;
        display: grid;
        grid-template-rows: 50px;
        grid-template-columns: 200px;
    }
    .submit-search-btn{
        grid-row: 1/2;
        grid-column: 1/2;
        margin-right: auto;
        width: 200px;
        margin-bottom: 0px;
      
    }
    .search-submit-icon{
        margin: 0px;
        grid-row: 1/2;
        grid-column: 1/2;
        margin: auto 15px;
        font-size: 1.5rem;
        color: white;
    }
}