.panel-container{
    width: 100%;
    height: 55vw;
    background-repeat: no-repeat;
    background-position: 95% -5%;
    background-size: cover;
    background-image: url(https://www.jobinfo.co.il/Portals/_default/Skins/Jobinfo-2016Design/images/bgphoto1_mobile.jpg);
}



@media (min-width:$break-point-desktop){
    .panel-container{
    display: flex;
    flex-flow: row-reverse;
        height: 426px;
        z-index: 0;
        background-image: url(https://www.jobinfo.co.il/Portals/_default/Skins/Jobinfo-2016Design/images/bgphoto1.jpg);
    background-position: 50% 0%;
    }
    .background-triangle{
        width: 100px;
     
        height: 100px;
        position: absolute;
        border-width: 165px  ;
        z-index: 0;
      
    }
}
.panel_total-jobs{
    padding-top: 80px;
    display: flex;
    align-items: flex-end;
    margin-right: 10px;
    float: right;
    .big-splitter.splitter{
        height: 8vw;
    }
    .total-jobs-text{
        display: flex;
        flex-flow: column;
    }
    .total-jobs-subtitle{
        font-weight: 100;
        font-size: 3.5vw;
    }
    .total-jobs-text>.total-jobs-number{
        display: flex;
        
      
        flex-wrap: wrap;
      
        align-items: flex-end;
     
       font-weight: 600;
       color: #202a68;
       font-size: 8vw;
       bottom: 0;
     
    }
    
    
}
@media(min-width:$break-point-desktop )and(max-width:1250px){
    .background-triangle{
        border-width: 140px  ;
    }
}
.search-work-form{
    position: relative;
    top: 100px;
    display: flex;
    flex-flow: column;
    width: 100%;
    background: white;
    padding: 0px 30px;
    &>*{
        margin: 10px 0px;
        border: .0625em solid #ccc;
        &:focus{
            outline: none;
        }
        &::placeholder{
            font-size: 1rem;
        }
       
    }
    .area-select{
        appearance: none;
        width: 100%;
        height: 100%;
        border: none;
        &:active,
        &:focus{
            outline: none;
            border: none;
        }
    }
    .costum-select{

        width: 100%;
       div{
           height: 100%;
           width: 100%;
       }
        .fas.fa-angle-down{
            position: absolute;
            color: black;
            left: 40px;
            top: 70px;
          
            &:focus{
                outline: none;
                border: none;
            }
        }
    }
    .submit-btn{
        height: 2.5rem;
        width: 100%;
        border: 0.125em solid rgb(32, 42, 104);
        background: white;
        &:focus,
        &:hover{
           background:  #fb8e0f ;
           border-color: #fb8e0f;
           color: white;
        }
    }
}
$input-width:225px;
@media(min-width:$break-point-desktop){
    .search-work-form{
        position: relative;
        top: 195px;
        left: -70px;
        padding-left: 0px;
     flex-shrink: 0;
     text-align: center;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-flow: row;
        flex-wrap: wrap;
        width: 1100px;
        width: 100%;
        height: 50px;
        padding-right: 0px;
        margin: 0px auto;
        background: none;
      
        &>*{
            margin: 0px;
           font-size: 0.9rem;
            &::placeholder{
                  white-space:pre-line;  
                text-align: center;
                font-size: 0.9rem;
                word-wrap: break-word;
                word-break: break-all;
            }
           
        }
        .job-name-input{
            width: $input-width; 
            height: 100%;
          
        }
      
        .area-select{
            height: 100%;
            width: $input-width;
            &:active,
            &:focus{
               
            }
        }
        .costum-select{
          width: unset;
          height: 100%;
          margin-top: 0px;
          margin: 0px 10px; 
            .fas.fa-angle-down{
                display: inline;
                top: unset;
                left: unset;
                height: min-content;
                margin-top: 15px;
                margin-right: -20px;
                width: min-content;
                
            
            
            bottom: unset;
            text-align: center;
                &:focus{
                  
                    
                }
            }
        }
        .submit-btn{
          
           background: transparent;
           border-color: white;
           color: white;
           align-self: center;
            height: 97%;
            margin-top: 0px;
            
            width: $input-width ;
            &:focus,
            &:hover{
             
            }
        }
    }
}
.send-CV{
  background: #fb8e0f; 
  color: white;
  height: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  vertical-align:middle;
  margin: 120px 50px 0px 50px;
  &>.fab{
    
    font-size: 1.95rem;
    
  }
}
.advanced-search{
    width: max-content;
    font-size: .8rem;
    color: #202a68;
    font-style: none;
    outline: none;
    &:active,
    &,:focus,
    &:visited{
        outline: none; 
        font-style: none;
        border: none;
    }
    &:hover{
        cursor: pointer;
    }
}
@media(min-width:$break-point-desktop){
.panel_total-jobs{
    display: none;
}
.advanced-search{
position: relative;
left:85px;
top:40px;
color: white;
font-size: .85rem;
}
.send-CV{
    direction: ltr;
    position: relative;
    font-size: 1.5rem;
    right: 60%;
    top: 300px;
    width: 300px;
    flex-shrink: 0;
    height: 75px;
    margin: 0px;
    .fab{
        margin-right: 20px;
        
        font-size: 3rem;
    }
}
}
