//breakpoint
$break-point-desktop:1000px;

//colors
$soft-blue:#233292;
$light-blue:#202968;
$dark-blue:#202a68;
$soft-orange:#ffedd8;
$orange:#fb8e0f;
$dark-orange:#eb7d00;
$dark-gray:#706d69;
$light-gray:#9c9892;
$dark-cream:#f2f2f0;
$light-cream:#edecea;
$smooth-gray:#d9d6d3;
$bg-gray:#edecea;

@mixin remove-button-defaults{
    overflow: visible; 
    margin: 0;
    padding: 0;
    border: 0;
    background: transparent;
    font: inherit; 
    line-height: normal;
  
    cursor: pointer; 
    &::-moz-focus-inner {
        padding: 0;
        border: 0;
        outline: none;
    }
}
@mixin  remove-links-defaults {
    
    &:link {
        text-decoration: none;
      }
      
      &:visited {
          color: unset;
        text-decoration: none;
      }
      
      &:hover {
        text-decoration: none;
      }
      
      &:active {
        text-decoration: none;
      }
}
@mixin remove-input-defaults{
  border: 0px;
}