@import url('https://fonts.googleapis.com/css2?family=Alef:wght@400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100&display=swap');
body{
    width: 100%;
    margin: 0px;
    background: white;
    overflow-x: hidden;
    height:fit-content;
}

*{
    box-sizing: border-box;
    direction: rtl;
    font-family: 'Alef', sans-serif;
    font-size: 1.1rem;
}
a{
text-decoration: none;
}
.hide{
    visibility: hidden;
}
.gray-letters{
    color: $dark-gray;
}
.small-letters-container{
    font-size: .75rem;
}
.desktop-only{
    display: none !important;
}
.yellow-select{
    background: #ffedd8;
}
.blue-small-button{
    @include remove-button-defaults;
    background: $light-blue;
    color: white;
    padding: 5px;
}
.emphasis{
    color: $dark-blue;
}
.orange-button{
     @include remove-button-defaults;
     background: $orange;
     color: white;
     padding: 15px;
}
.gray-button{
    @include remove-button-defaults;
    background: $soft-gray;
    color: white;
    padding: 15px;
}
.orange-mark{
    color:$orange
    
}
.font-emphasis{
    font-size: 1.3rem;
}
.gray-title{
    color: $dark-gray;
}
.container-flex-row{
    display: flex;
    flex-flow: row;
}
.orange-small-title{
    font-size: .935rem;
    color: $orange;
}
.new-scan-button{
    width: 100%;
    margin-top: 1.5rem;
}
@media(min-width: $break-point-desktop){
    .mobile-only{
        display: none !important;
    }
    .desktop-only{
        display: inline !important;
    }
}