@import url('https://fonts.googleapis.com/css2?family=Alef:wght@400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100&display=swap');
body{
    width: 100%;
    margin: 0px;
    height: 5000px;
    background: #e8e8e8;
}

*{
    box-sizing: border-box;
    direction: rtl;
    font-family: 'Alef', sans-serif;
    font-size: 1.1rem;
}