@import url('https://fonts.googleapis.com/css2?family=Alef:wght@400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100&display=swap');
body{
    width: 100%;
    margin: 0px;
    background: white;
    overflow-x: hidden;
    height:fit-content;
}

*{
    box-sizing: border-box;
    direction: rtl;
    font-family: 'Alef', sans-serif;
    font-size: 1.1rem;
}
a{
text-decoration: none;
}

.small-letters-container{
    font-size: .75rem;
}
.desktop-only{
    display: none !important;
}
.yellow-select{
    background: #ffedd8;
}
.blue-small-button{
    @include remove-button-defaults;
    background: $light-blue;
    color: white;
    padding: 5px;
}
@media(min-width: $break-point-desktop){
    .mobile-only{
        display: none !important;
    }
    .desktop-only{
        display: inline !important;
    }
}