@import'./settings';
@import'./sheared';
@import'./FloatShareIcons';
@import'./FloatMenu';
@import'./SearchPanel';
@import'./NavigationBar';
@import'./NavigationBoxs';
@import'./RollingBrands';
@import'./BuissnesContactBanner';
@import'./CatgorizeHiTechJobs';
@import'./MainPage';
@import'./TailesWithImg';
@import'./Footer';
@import'./BackToTopBtn';
@import'./searchWorkPage'